/WholeCell/DhaB_DhaT_Model/object_oriented/data/
/WholeCell/DhaB_DhaT_Model/object_oriented/plot/
/WholeCell/13_PDO_Pathway_Inference/trash/emulator_MCMC_results_data/
/WholeCell/13_PDO_Pathway_Inference/trash/emulator_MCMC_results_plots/
/WholeCell/13_PDO_Pathway_Inference/trash/emulator_data/
/WholeCell/13_PDO_Pathway_Inference/MCMC/output/MCMC_results_data/
/WholeCell/13_PDO_Pathway_Inference/MCMC/output/MCMC_results_plots/
/WholeCell/13_PDO_Pathway_Inference/ActiveLearning/output/active_learning_results/
